#main-container {
    display: flex;
    flex-direction: column;

    #game-container {
        display: flex;
        background-color: #080434e3;
        
        margin: auto;
        margin-top: 40px;
        border-radius: 40px;
        padding: 20px;
        width: 90%;
        max-width: 1300px;
        min-width: 900px;
        color: #FFFFFF;

        table {
            margin: auto;
            tr {
                td {
                    width: 70px;
                    height: 70px;
                    border: 1px solid #FFFFFF;
                    background-color: #ffffff32;
                }
            }
        }
    }
}

